<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{resources/fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main layout:fragment="content">

    <section>
        <h1>Account</h1>
        <p class="info">Current account details</p>
        <p class="form" th:object="${currentAcct}">
            Holder number: <span th:text="*{holder.holderNo}">Missing</span>,
            Holder name: <span th:text="*{holder.name}">Missing</span>,
            Account number: <span th:text="*{acctNo}">Missing</span>,
            Balance: <span th:text="*{balance}">Missing</span> SEK
        </p>
    </section>

    <section>
        <h1>Deposit</h1>
        <p class="info">Please enter amount to deposit</p>
        <form th:action="@{/deposit}" th:object="${depositForm}" method="post">
            <p class="form"><label for="deposit-amt">Amount</label>:<input type="text"
                                                                           th:field="*{amount}"
                                                                           id="deposit-amt"/>
                <span class="error" th:if="${#fields.hasErrors('amount')}"
                      th:errors="*{amount}">Amount Error</span></p>
            <p class="submit"><input type="submit" value="Deposit"/></p>
        </form>
    </section>

    <section>
        <h1>Withdraw</h1>
        <p class="info">Please enter amount to withdraw</p>
        <form th:action="@{/withdraw}" th:object="${withdrawForm}" method="post">
            <p class="form"><label for="withdraw-amt">Amount</label>:<input type="text"
                                                                            th:field="*{amount}"
                                                                            id="withdraw-amt"/>
                <span class="error"
                      th:if="${#fields.hasErrors('amount')}"
                      th:errors="*{amount}">Amount Error</span></p>
            <p class="submit"><input type="submit" value="Withdraw"/></p>
        </form>
    </section>

</main>
</body>
</html>