<configuration scan="true">

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/spring/spring.log</file>
        <encoder>
            <pattern>%boldGreen(%date) %level [%thread] %boldRed(%logger) [%file:%line] %boldMagenta(%msg) %n %n
            </pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>/var/log/spring/spring.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 30 days' worth of history capped at 100MB total size -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%boldGreen(%d{HH:mm:ss}) %boldRed(%logger{10}) [%file:%line] %boldMagenta(%msg) %n</pattern>
        </encoder>
    </appender>

    <logger name="se.kth.id1212.appserv.bank" level="off" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- Do not log exception handling. -->
    <logger name="org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver" level="off"
            additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- Do not log exception handling. -->
    <logger name="org.hibernate.internal.ExceptionMapperStandardImpl" level="off" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- Log transaction demarcation. -->
    <!--<logger name="org.springframework.transaction.interceptor" level="trace" additivity="false">-->
        <!--<appender-ref ref="FILE"/>-->
        <!--<appender-ref ref="STDOUT"/>-->
    <!--</logger>-->

    <root level="warn">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>